/* TODO: Style the headshot img section -- need to make headshot 1/4 of page size */
.headshot {
    margin: 50px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.headshot h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.headshot img {
    max-width: 100%;
    height: auto;
}

/* TODO: Style the bio section -- need to make bio 3/4 of page size*/
#aboutme { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 50px auto;
    padding: 15px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5%;
}

